body {
  background-color: #F5F5F5;
}
.vertical-center {
  width: 100%;
  display: flex;
  align-items: center;
}
.cont-nav {
  width: 75%;
  margin: 0 auto;
}
.my-logo {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.6em;
}
.my-nav {
  padding-left: 8%;
  background: black;
}
.my-nav-links {
  font-size: .8em;
}
/*a.my-nav-links {
  color: white;
}*/
.my-active-link {
  border-bottom: solid #01A8ED 3px;
}
.jt-main {
  min-height: 50%;
  min-height: 50vh;
}
.cont-main {
  padding: 0;
}
img.bg-main {
  display: block;
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: 300px;
  position: center;
}
.jt-info {
  min-height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  width: 85%;
}
.cont-info {
  padding: 0;
  margin-top: 10%;
}
.my-row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.event-info {
  margin-top: 3%;
  padding-left: 0;
  letter-spacing: 2px;
  line-height: 1.8;
}
.my-btn {
  background-color: #00AAF1;
  color: white;
  height: 4em;
  border-radius: 0;
  font-size: .9em;
  margin-top: 10%;
}
.my-btn:hover {
  background-color: #00AAF1;
  opacity: 0.9;
}
