body {
  background-color: #F5F5F5;
}
.vertical-center {
  width: 100%;
  display: flex;
  align-items: center;
}
.cont-nav {
  width: 75%;
  margin: 0 auto;
}
.my-logo {
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.6em;
}
.my-nav {
  padding-left: 8%;
  background: black;
}
.my-nav-links {
  font-size: .8em;
}
/*a.my-nav-links {
  color: white;
}*/
.my-active-link {
  border-bottom: solid #01A8ED 3px;
}
.jt-main {
  min-height: 50%;
  min-height: 50vh;
}
.cont-main {
  padding: 0;
}
img.bg-main {
  display: block;
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: 300px;
  position: center;
}
.jt-info {
  width: 80%;
}
.cont-info {
  display: inline-block;
  min-height: 80%;
  min-height: 80vh;
  width: 100%;
  margin: 0 auto;
}
.my-btn {
  width: 100%;
  background-color: #00AAF1;
  color: white;
  height: 4em;
  border-radius: 0;
  font-size: .8em;
  margin-top: 10%;
}
